body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: #39474e;
    color: #BBB;

    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif

}

/***************************************************************************************/
/***                                   CONTAINERS                                    ***/
/***************************************************************************************/

#main_container{
    position: relative;
    width: 100%;
    height: calc(100% - 4px);
    overflow: hidden;
}

#top_container{
    width: 100%;
    height: 100px;
}

#left_container, #right_container {
    box-sizing: border-box;
    position: absolute;
    width: calc( 50vw - 2px);
    height: calc(100% - 100px);
    overflow: auto;
    top: 100px;
}

#left_container {
    left: 0;
    padding: 0 4px;
}

#right_container {
    right: 0;
    padding: 0 4px;
}

#spacer_container {
    position: absolute;
    width: 4px;
    height: calc(100vh - 100px);

    top:100px;
    left: calc( 50vw - 2px);

    cursor: ew-resize;
    z-index: 100;
}
    #spacer_container div {  
        padding: 0;
        margin: 0;  
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: -7.5px;
        transform: translate(0, -50%);
    }


*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}



/***************************************************************************************/
/***                                    TOP MENU                                     ***/
/***************************************************************************************/

.menu_button {
    width: calc( 100px - 8px);
    height: calc( 100px - 8px);

    display: inline-block;
    margin: 0;
    padding: 16px;
    margin: 4px;
    box-sizing: border-box;
    border-radius: 5px;
}

.menu_button.disable {
    pointer-events: none;
}

.menu_button img {
    width: 100%;
}

.menu_button_space {
    width: 25px;
    display: inline-block;
}



/***************************************************************************************/
/***                                     EDITOR                                      ***/
/***************************************************************************************/

#code_editor{
    width: 100%;
    height: 100%;
}



/***************************************************************************************/
/***                                     SERIAL                                      ***/
/***************************************************************************************/

.serial_output{
    width: 100%;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    overflow: auto;
    white-space: pre-wrap;
}



/***************************************************************************************/
/***                               PROGRESS DIALOG                                   ***/
/***************************************************************************************/

.progress-dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    transform: translate(-50%, -50%);

    padding: 0;

    border-radius: 5px;
    overflow-x: hidden;
}

.progress-content-title {
    margin-top: 0;
    padding: 4px 8px;
    font-size: 1.5em;
}

.progress-content {
    padding: 8px;
}

.progress-bar-container {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1em;
}

.progress-bar-value {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

.progress-bar-cursor  {
    width: 0%;
    height: 100%;
}

.progress-bar-close-button {
    border-radius: 10px;
    padding: 8px 32px;
    border: none;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
    line-height: 1.5;
    font-size: 100%;
    margin-left: 100%;
    transform: translateX(-100%);
}

.progress-bar-infos {
    padding-left: 16px;
    font-size: 0.9em;
}