body{
    background-color: #39474e;
    color: #BBB;
}

#spacer_container { background-color: #cfcfcf; }
    #spacer_container div { color: black; }


.citation-error {
    background-color: #fff5d1;
}

/***************************************************************************************/
/***                                    TOP MENU                                     ***/
/***************************************************************************************/

.menu_button {
    background-color: #d65cd6;
    cursor: pointer;
}
.menu_button:hover {
    background-color: #bb3ebb;
}
.menu_button:active {
    background-color: #9b1e9b;
}

.menu_button:nth-child(2n) {
    background-color: #ef2d56;
}
.menu_button:nth-child(2n):hover {
    background-color: #cf0d36;
}
.menu_button:nth-child(2n):active {
    background-color: #af0016;
}

.menu_button:nth-child(3n) {
    background-color: #61b22f;
}
.menu_button:nth-child(3n):hover {
    background-color: #41920f;
}
.menu_button:nth-child(3n):active {
    background-color: #217200;
}

.menu_button:nth-child(4n) {
    background-color: #fdc400;
}
.menu_button:nth-child(4n):hover {
    background-color: #dda400;
}
.menu_button:nth-child(4n):active {
    background-color: #bda400;
}

.menu_button:nth-child(5n) {
    background-color: #140e4e;
}
.menu_button:nth-child(5n):hover {
    background-color: #04002e;
}
.menu_button:nth-child(5n):active {
    background-color: #00000e;
}

.menu_button:nth-child(6n) {
    background-color: #62549f;
}
.menu_button:nth-child(6n):hover {
    background-color: #42347f;
}
.menu_button:nth-child(6n):active {
    background-color: #22145f;
}

.menu_button.disable {
    filter: grayscale(75%);
}



/***************************************************************************************/
/***                               PROGRESS DIALOG                                   ***/
/***************************************************************************************/

.progress-dialog {
    background-color: #000000E0;
    color: black;
}

.progress-dialog-container {
    background-color: white;
}

.progress-dialog-title {
    color: white;
    background-color: #e9407f;
}

.progress-dialog-bar-container {
    background-color: #cfcfcf;
}

.progress-dialog-bar-cursor  {
    background-color: #3bbdd6;
}

.progress-dialog-close-button {
    background: #e9407f;
    color: white;
}

.progress-dialog-infos .error {
    color: #db1d4d
}

.progress-dialog-infos .warning {
    color: #db721d
}

.progress-dialog-infos .info {
    color: inherit;
}



/***************************************************************************************/
/***                                 ALERT DIALOG                                    ***/
/***************************************************************************************/

.alert-dialog {
    background-color: #000000E0;
    color: black;
}

.alert-dialog-container {
    background-color: white;
}

.alert-dialog-title {
    color: white;
    background-color: #e9407f;
}

.alert-dialog-close-button {
    background: #e9407f;
    color: white;
}